{% extends "base.html" %}

{% block title %}
  Athlete
{% endblock %}

{% block content %}
  <h1>
    Athlete
  </h1>
  <a href="{% url "club:athlete-create" %}" class="btn btn-primary link-to-page">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
      <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"></path>
      <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"></path>
    </svg></a>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Birth date</th>
        <th>Weight</th>
        <th>Coaches</th>
        <th>Gyms</th>
        <th>Trainings</th>
      </tr>
    </thead>
    <tbody>
      {% for user in user_list %}
        <tr>
          <td><a href="{% url "club:athlete-detail" pk=user.id %}">{{ user.id }}</a></td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.birth_date }}</td>
          <td>{{ user.weight }} kg</td>
          <td>
            {% for coach in user.coaches.all %}
              {{ coach }}{% if not forloop.last %}, {% endif %}
            {% empty %}
              No coaches
            {% endfor %}
          </td>
          <td>
            {% for gym in user.gyms.all %}
              {{ gym }}{% if not forloop.last %}, {% endif %}
            {% empty %}
              No gyms
            {% endfor %}
          </td>
          <td>
            {% for training in user.sessions.all %}
              {{ training.starts_at }}{% if not forloop.last %}, {% endif %}
            {% empty %}
              No trainings
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}